.layout {
  height: 100vh;
  width: 100%;
  .content {
    height: calc(100vh - 60px);
    display: flex;
    .sider {
      width: 246px;
      border-right: 1px solid #fbf5f5;
    }
    .body {
      flex: 1;
      margin-left: 16px;
    }
  }
}
