.head {
  height: 60px;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  .left {
    margin-left: 16px;
  }
  .right {
    margin-right: 16px;
  }
}
