html {
  width: 100vh;
  height: 100vh;
  font-family: 'Alip-regular';
  margin: 0;
  padding: 0;
}

body {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100vh;
  height: 100vh;
}

#root {
  height: 100vh;
  width: 100vw;
}
.ant-btn {
  cursor: pointer;
}
.anticon {
  cursor: pointer;
}
